.project1 {
  background-image: url("../images/igralishte.png");
  cursor: none;
}
.project2 {
  background-image: url("../images/marinov.png");
  cursor: none;
}
.project3 {
  background-image: url("../images/artists.png");
  cursor: none;
}
.project4 {
  background-image: url("../images/other.png");
  cursor: none;
}
.project5 {
  background-image: url("../images/brif.png");
  cursor: none;
}
