.project1 {
  background-image: url("../images/igralishte.png");
  cursor: none;
}
.project2 {
  background-image: url("../images/marinov.png");
  cursor: none;
}
.project3 {
  background-image: url("../images/artists.png");
  cursor: none;
}
.project4 {
  background-image: url("../images/other.png");
  cursor: none;
}
.project5 {
  background-image: url("../images/spacex.png");
  cursor: none;
}
.project6 {
  background-image: url("../images/akrotect.png");
  cursor: none;
}
.project7 {
  background-image: url("../images/akrotect.png");
  cursor: none;
}
