.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid #0080a0;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: fixed;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
  top: 10px;
  left: 10px;
  margin: 10px;
  transform: translate(100%, 100%);
  position: fixed;
  box-shadow: 0 0 15px 1px rgb(234, 0, 255);
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid rgb(255, 0, 234);
    border-radius: 50%;
    opacity: 0.5;
    top: 4px;
    left: 4px;
    animation: cursorAnim2 0.5s infinite alternate;
    filter: blur(2px);
}

@keyframes cursorAnim {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: translate(-5%, -5%);
  }
  50% {
    transform: translate(-20%, -20%);
    height: 25px;
    width: 25px;
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid rgb(1, 255, 149);
}

